html 
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; connect-src 'self';">
    head 
        title BestChatServisEver
        //link(rel="stylesheet", href="/style.css")
    body
        h1 Chat
        p: a(href="/") Startside
        p: strong= chat.name
            #chatHistory 
                for message in chat.messagesHistory
                    p #{message.user.name} #{message.besked}