html
    head
        meta(http-equiv="Content-Security-Policy", content="default-src 'self'; connect-src 'self';")
        link(rel="stylesheet", href="/aStoneColdStyle.css")
        title BestChatServisEver
    body
        h1 Chat
        p
            a(href="/") Startside

        p
            strong= chat.name
        
        if user.userlevel > 2 || user.id === chat.userOwner.id
            include snippets/chatChangeName.pug
#chatHistory
    for message in chat.messagesHistory
        p(class=(user.userlevel > 2 || user.id === message.user.id ? 'mybesked' : ''))
            | #{message.user.username}: #{message.besked+" "}
            
            if user.userlevel > 2 || user.id === message.user.id
                button.delete-btn(data-message-id=message.id) Delete

include snippets/sendMessageInChat.pug
script(src="/chatfunktions.js")