html 
    head 
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; connect-src 'self';">
    link(rel="stylesheet", href="/aStoneColdStyle.css")
    title BestChatServisEver
        //link(rel="stylesheet", href="/style.css")
    body 
        h1 SendingRock
        if validUser
            if userLevel >= 2
                include snippets/cChat.pug  
        else
            include snippets/loginform.pug
        #chatoverview
            h2 chatterne
            ul 
                each chat in chats
                    li
                        a(href="/chats/" + chat.id, class="link", ) #{chat.name}
        if validUser 
            include snippets/logOutForm.pug
            a(href="/users", class="link", ) all users
