html 
    head 
        title BestChatServisEver
        //link(rel="stylesheet", href="/style.css")
    body 
        h1 SendingRock
        if (validUser)
            include snippets/loggedin.pug  
        else
            include snippets/loginform.pug
        include snippets/chatoverview.pug
