html 
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; connect-src 'self';">
    head 
        title BestChatServisEver
    body 
        h1 excavating New Rock 
        include snippets/makeUserForm.pug

